.article-title-container {
  display: flex;
  flex-direction: row;
}

.article-flex img {
  width: 75px;
  height: 75px;
}

.article-flex h1 {
  font-family: "goshabold";
  font-size: 112px;
  color: #0d0d0d;
  letter-spacing: -7.43px;
  line-height: 90px;
}

.article-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  top: 55px;
  margin-left: 20px;
  margin-right: 20px;
}

.article-sizer {
  max-height: 168px;
  width: 100%;
  margin-left: 25px;
}

.article-arrow {
  max-width: 75px;
}
