.booking-card {
  background-color: var(--white);
  height: 366px;
}

.booking-card h3 {
  font-family: "basebloom";
  font-size: 77px;
  color: var(--black);
  letter-spacing: -0.22px;
  line-height: 67px;
  text-align: center;
  width: 500px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 20px;
}
