.button {
  display: flex;
  justify-content: space-around;
  margin: auto;
  border-radius: 60px;
  font-family: "goshabold";
  font-size: 70px;
  letter-spacing: -0.2px;
  width: 660px;
  margin-bottom: 74px;
}

.button-light {
  background: var(--white);
  color: var(--black);
}

.button-dark {
  background: var(--black);
  color: var(--white);
}

.button-sizer {
  position: relative;
  top: -7px;
  margin-left: -20px;
}

.button-margin {
  margin-left: -30px;
}

.button-icone {
  height: 55px;
  width: 55px;
  position: relative;
  bottom: -18px;
}
