.footer-partners {
  background-image: var(--gradient);
  font-family: "goshabold";
  font-size: 83px;
  line-height: 0.7;
  letter-spacing: -5.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px;
}

.footer-partners-container  {
  display: flex;
  flex-direction: row;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50px;
}

.footer-animation-container {
  display: flex;
  justify-content: center;
}

.footer-flex-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
}

.footer-links-container {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  letter-spacing: -0.04px;
  text-align: right;
  line-height: 13px;
}

.footer-credits {
  opacity: 0.5;
  font-size: 12px;
}
