.gradient-animation {
  background-image: var(--gradient);
  background-size: 400%;
  animation: bg-animation 30s infinite ease-in-out;
  overflow: hidden;
}

.gradient-animation-delay {
  background-image: var(--gradient);
  background-size: 600%;
  animation: bg-animation 60s 3s infinite ease-in-out;
  overflow: hidden;
}

.gradient-animation-delay-02 {
  background-image: var(--gradient);
  background-size: 600%;
  animation: bg-animation 60s 0s infinite ease-in-out;
  overflow: hidden;
}

.gradient-animation-delay-03 {
  background-image: var(--gradient);
  background-size: 600%;
  animation: bg-animation 60s -10s infinite ease-in-out;
  overflow: hidden;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
