.header-text {
  font-size: 21px;
  letter-spacing: -0.06px;
  line-height: 24px;
  position: relative;
}

.header-animation {
  margin-bottom: -50px;
}

@media (max-width: 992px) {
  .header-text {
    font-size: 18px;
    line-height: 20px;
  }
}

@media (min-width: 992px) {
  .header-animation {
    margin-bottom: -60px;
  }
}

@media (min-width: 1200px) {
  .header-animation {
    margin-bottom: -70px;
  }
}

@media (min-width: 1500px) {
  .header-animation {
    margin-bottom: -90px;
  }
}
