.navigation {
  width: 100%;
  padding: 46px 0px 5px 0px;
}

.navigation-logo {
  width: 165px;
}

.navigation-language-selector {
  font-family: "goshabold";
  font-size: 21px;
  color: var(--black);
  letter-spacing: -0.06px;
  margin-right: 20px;
}

.navigation-burger {
  width: 65px;
}

.navigation-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 20px;
}

.navigation-flex-merger {
  display: flex;
}

.navigation-open {
  display: none;
  z-index: 10;
  opacity: 0;
}

.navigation-open.is-open {
  width: 100%;
  opacity: 1;
  z-index: 10;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--black);
}

.navigation-big-links {
  font-family: "goshabold";
  font-size: 92px;
  color: var(--white);
  letter-spacing: -6.1px;
  text-align: center;
  line-height: 74px;
  padding-top: 94px;
  background-color: var(--black);
}

.navigation-credits-informations {
  opacity: 0;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  letter-spacing: -0.04px;
  text-align: center;
  line-height: 13px;
  padding: 86px 0px 30px 0px;
}

.navigation-credits-informations span {
  opacity: 0.5;
  font-size: 12px;
  margin: 10px;
}

.navigation-credits-informations.is-open {
  opacity: 1;
}
