.navigation {
  width: 100%;
  padding: 46px 0px 5px 0px;
}

.navigation-logo {
  width: 165px;
}

.navigation-language-selector {
  font-family: "goshabold";
  font-size: 21px;
  color: var(--black);
  letter-spacing: -0.06px;
  margin-right: 20px;
}

.navigation-burger {
  width: 65px;
}

.navigation-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 20px;
}

.navigation-flex-merger {
  display: flex;
}
