/* ====================================
// css variables
// ==================================== */

:root {
  --black: #0d0d0d;
  --white: #fff;
  --green: #70fb6c;
  --purple: #9c63df;
  --gradient: linear-gradient(
    90deg,
    rgba(112, 251, 108, 1) 0%,
    rgba(156, 99, 223, 1) 14%,
    rgba(112, 251, 108, 1) 23%,
    rgba(156, 99, 223, 1) 64%,
    rgba(112, 251, 108, 1) 79%,
    rgba(156, 99, 223, 1) 97%,
    rgba(156, 99, 223, 1) 100%,
    rgba(112, 251, 108, 1) 114%
  );
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

body {
  font-family: "gosharegular";
  color: var(--white);
  background-color: var(--black);
}

$container-max-widths: (
  lg: 1800px,
) !default;
