@font-face {
  font-family: "basebloom";
  src: url(../fonts/BASEBLOOM.woff2);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gosharegular";
  src: url(../fonts/PPGoshaSans-Regular.woff2);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "goshabold";
  src: url(../fonts/PPGoshaSans-Bold.woff2);
  font-style: normal;
  font-display: swap;
}
